head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='')
  title Superheroes
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='/style.css' rel='stylesheet')
.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          h3.masthead-brand Superheroes
          nav
            ul.nav.masthead-nav
              li
                a(href='http://github.com/payabbhi/superheroes' style='font-size: xx-large;')
                  i.fa.fa-github(aria-hidden='true')
      if error === null
        .inner.cover
          h1.cover-heading Limited Offer Sale !!
          p.lead Purchase a random superhero to run your errands. Try your luck.
          p.lead
            button#submit-btn.btn.btn-lg.btn-default Pay with Payabbhi
            script(src='https://checkout.payabbhi.com/v1/checkout.js')
            form(name='payabbhiform' action='/status' method='POST')
              input#merchant_order_id(type='hidden' name='merchant_order_id' value= order.merchant_order_id)
              input#order_id(type='hidden' name='order_id')
              input#payment_id(type='hidden' name='payment_id')
              input#payment_signature(type='hidden' name='payment_signature')
            script.
              // Implement the Checkout workflow for Web as outlined at https://payabbhi.com/docs/checkout
              var options = {
                "access_id": "#{accessId}",
                "order_id": "#{order.id}",
                "amount": "#{order.amount}",
                "name": "Superheroes Store",
                "description": "Order No #{order.merchant_order_id}",
                "image": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrqxgvtb3CZ9MJOKpXWxrScQEK4lwzbClXg_J7iayii4PTg-Y5",
                "prefill": {
                  "name":    "Bruce Wayne",
                  "email":   "bruce@wayneinc.com",
                  "contact": "9999999999"
                },
                "notes": {
                  "merchant_order_id": "#{order.merchant_order_id}"
                },
                "theme": {
                  "color": "#F6A821"
                }
              };
              options.handler = function (response){
                // Submitting the Payment response as outlined at https://payabbhi.com/docs/checkout
                document.getElementById('order_id').value = response.order_id;
                document.getElementById('payment_id').value = response.payment_id;
                document.getElementById('payment_signature').value = response.payment_signature;
                document.payabbhiform.submit();
              };
              document.getElementById('submit-btn').onclick = function(e){
                var payabbhi = new Payabbhi(options);
                payabbhi.open();
                e.preventDefault();
              }
      else
        .inner.cover
          h1.cover-heading Hard Luck !! Your attempt to buy a superhero was in vain
          p.lead
            | Oops!! Could not complete the order for Order ID
            =  merchantOrderId
          p.lead
            a.btn.btn-lg.btn-default(href='/') Try Again

      .mastfoot
        .inner
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
